body {
	width: 100%;
}

.row {
	text-align:center;
	margin: 20px 0;	
}

.row .jqx-grid {
	margin: auto;
}

.ui-datepicker {
	z-index: 800 !important;
}

.jqx-grid-content div[role='row'] {
	color: 0xFFF;
}